@value makerGreen from '../../common/colors.css';

.bg {
  width: 100%;
  height: 100%;
  background-color: makerGreen;
}
.container {
  padding: 10px;
  text-align: center;
}
.text {
  margin-top: 0.4rem;
  color: white;
}
