@value makerGreen from '../../common/colors.css';

.bg {
  width: 100%;
  background-color: makerGreen;
  position: relative;
}
.container {
  padding: 10px;
  text-align: center;
}
.text {
  margin-top: 0.4rem;
  color: white;
  font-size: x-large;
}
.logout {
  font-size: small;
  border-radius: 25px;
  border-color: transparent;
  padding: 0.8em;
  position: absolute;
  right: 3em;
  top: 1em;
  cursor: pointer;
}
