@value makerGreen,makerWhite,makerLightGray,makerPink from '../../../common/colors.css';

.header {
  color: makerGreen;
  text-align: center;
}
.maker {
  flex-basis: 50%;
  background-color: blanchedalmond;
}
