@value makerGreen,makerWhite,makerLightGray,makerPink from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.maincontainer {
  flex: 1;
  display: flex;
}
@media screen and (max-width: mediaQuery) {
  .maincontainer {
    flex-direction: column;
  }
}
